/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== GLOBAL ===== */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background: #fff;
  color: #111;
   display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
 
  font-size: 10vh;
}